* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: black;
}

.boxes {
  height: 500px;
  width: 1300px;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.option {
  font-size: 60px;
  font-style: italic;
  font-weight: 550;
  font-family: "Courier New", Courier, monospace;
  color: rgb(52, 36, 36);
  margin-bottom: 90px;
  background-color: rgb(239, 239, 122);
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 2px solid white; */
}
.select {
  height: 200px;
  width: 1200px;
  /* border: 2px solid white;  */
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 100px;
  /* justify-content: center; */
  /* flex-direction:column; */
  /* flex-wrap: wrap; */
  gap: 30px;
}

/* .yourName,.opponantName{
  background-color: rgb(239, 239, 122);
  border-radius: 20px;
  padding:5px;
  padding-left: 10px;  
  padding-right: 10px;
  color: rgb(52, 36, 36);
  font-size: 55px;
  font-family: Courier, monospace;
  font-weight: 550;
  letter-spacing: 2px;
    border-radius: 20px;
  padding:5px;
  padding-left: 10px;  
  padding-right: 10px;
}  */

.startGame,.startGame2 {
  display: flex;
  align-items: center;
  text-align: center;
  height: 70px;
  background-color: rgb(249, 249, 66);
  color: black;
  margin-top: 30px;
  cursor: pointer;
  font-size: 55px;
  font-family: Courier, monospace;
  font-weight: 550;
  letter-spacing: 2px;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid wheat;
}

.startGame,.startGame2{
  position: absolute;
  top: 470px;
  /* z-index: -1; */
}
/* .name1 {
  height: 40px;
  font-size: 30px;
  border: none;
  color: black;
  border-radius: 10px;
  border: none;
} */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  font-size: 100px;
  font-family: sans-serif;
  /* font-weight: 500; */
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 1rem rgba(66, 60, 60, 0.3);
  /* border: 2px solid white; */
}

.box:hover {
  border: 5px solid yellow;
}
.choice1:focus-within {
  border: 8px solid green;
}
.choice2:focus-within {
  border: 8px solid orange;
}

.text {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
  position: relative;
  bottom: 30px;
}
.text1 {
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  width: 500px;
  background-color: rgb(255, 255, 159);
  border: 2px solid yellow;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* border: 5px solid white; */
  margin-top: 10px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 400px;
  gap: 15px;
  /* border: 2px solid white; */
  /* margin-top: 40px; */
  /* border: 2px solid black; */
}

.button {
  height: 115px;
  width: 115px;
  border-radius: 15px;
  font-size: 70px;
  background-color: white;
  box-shadow: 0 0 1rem rgba(66, 60, 60, 0.3);
  color: blue;
  cursor: pointer;
}
.button:hover {
  border: 5px solid yellow;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.Congratulation {
  font-family: "Courier New", Courier, monospace;
  font-size: 4.9rem;
  padding: 10px;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #191913; */
  border-radius: 10px;
  height: 60px;
  width: 1200px;
  animation: congra 2s ease-in-out 0s infinite;
  border: 3px solid yellow;
  text-align: center;
}

@keyframes congra {
  0% {
    background-color: rgb(250, 250, 91);
  }
  25% {
    background-color: rgb(250, 250, 91);
    width: 800px;
  }
  50% {
    background-color: rgb(250, 250, 91);
  }
  75% {
    background-color: rgb(250, 250, 91);
  }
  100% {
    background-color: rgb(250, 250, 91);
  }
}
.reset,
.back {
  font-size: 2rem;
  padding: 10px;
  color: black;
  font-weight: 600;
  background-color: rgb(255, 255, 171);
  border-radius: 10px;
  border: none;
  margin-top: 35px;
  cursor: pointer;
  border: 2px solid yellow;
}

.back {
  font-size: 1.2rem;
}
.Congratulation2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.newGame {
  font-size: 2.5rem;
  padding: 10px;
  color: black;
  font-weight: 600;
  background-color: rgb(255, 255, 171);
  border-radius: 10px;
  border: none;
  /* margin-top: 30px; */
  cursor: pointer;
  /* color: ; */
}
.hide {
  display: none;
  /* color: ; */
}

@media(min-width : 375px) and (max-width:440px) {
  .option{
    font-size: 27px;
  }
  .select{
    width: 300px;
    /* border: 2px solid white; */

  }
  .box{
    height: 100px;
    width: 100px;
    font-size: 70px;
  }
  .startGame,.startGame2{
    height: 40px;
    font-size: 25px;
  }
  .choice1:focus-within {
    border: 6px solid green;
  }
  .choice2:focus-within {
    border: 6px solid orange;
  }
  .text{
    position: relative;
    bottom: 0px;
  }
  .text1{
    font-size: 35px;
    width: 300px;
  }
  .game{
    height: 290px;
    width: 350px;
    /* border: 2px solid white; */
    gap: 10px;
  }
  .button{
    height: 90px;
    width: 90px;
    font-size: 45px;
  }
  .button:hover {
    border: 3px solid yellow;
  }
  .Congratulation2{
    height: 90px;
    /* border: 2px solid wheat; */
  }
 .Congratulation{
  font-size: 2rem;
  padding: 5px;
  height: 30px;
  width: 300px;
 }
 @keyframes congra {
  0% {
    background-color: rgb(250, 250, 91);
  }
  25% {
    background-color: rgb(250, 250, 91);
    width: 150px;
  }
  50% {
    background-color: rgb(250, 250, 91);
  }
  75% {
    background-color: rgb(250, 250, 91);
  }
  100% {
    background-color: rgb(250, 250, 91);
  }
}
.newGame{
  font-size: 1.5rem;
  padding: 5px;
}
.reset{
  font-size: 1.6rem;
}
.back {
  font-size: 1rem;
}
}


